@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

/* header */

header {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 100vw;
  background-color: #212121;
  padding: 0 16px;
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start i {
  margin-left: 10px;
}

.start .logo {
  height: 20px;
  width: 140px;
  color: #fff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0.75;
}

.center .search {
  width: 60%;
  height: 39px;
  background: #000;
  border: 1px solid #323232;
  padding: 10px;
  font-size: 1rem;
}

.center .search-icon {
  height: 40px;
  width: 64px;
  background: #323232;
  padding: 10px;
  text-align: center;
}

.center .microphone {
  height: 40px;
  width: 40px;
  background: #181818;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  margin-left: 10px;
}

.end {
  display: flex;
  justify-content: center;
  align-items: center;
}

.end i {
  margin-left: 15px;
  width: 2.4rem;
}

/* body */

.columns {
  margin: 100px 20px 20px 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.columns .primary {
  width: 760px;
}

.columns .secondary {
  width: 402px;
}

.ad {
  border-bottom: 1px solid #323232;
}

.ad .row1 img {
  width: 402px;
}

.ad .row2 {
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
}

.ad .row2 .card {
  display: flex;
  height: 48px;
}

.row2 img {
  width: 48px;
}

.row2 .card .content {
  width: 202px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-self: flex-start;
  align-self: flex-end;
}

.card .content .title {
  font-size: 16px;
  margin-bottom: 4px;
}

.card .content p .ad {
  font-size: 12px;
  color: #000;
  background-color: #fbbf2c;
  padding: 3px 4px;
  display: inline-block;
  margin-right: 5px;
}

.card .content p .link {
  font-size: 12px;
  color: #828282;
}

.row2 button {
  width: 128px;
  height: 36px;
  align-self: flex-end;
  background: #3da6ff;
  font-size: 14px;
  border: none;
  border-radius: 2px;
}

.search-terms {
  width: 100%;
  display: flex;
  padding: 16px 0px;
  justify-content: flex-start;
  font-size: 14px;
  gap: 0.5rem;
}

.search-terms button {
  color: #fff;
  background-color: #303030;
  padding: 10px 15px;
  border: 1px solid #444;
  border-radius: 20px;
}
